@import './../../../../helpers/styles/colors.scss';

.airflow {
    margin-top: 60px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    h1 {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    ul {
        padding: 0;
        margin: 0;
        li {
            display: flex;
            justify-content: space-between;
            background-color: #2F3254;
            border: 1px solid #4C4F73;
            border-radius: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 2px 8px;
            margin-bottom: 6px;
            &:last-of-type {
                background: none;
                border: none;
            }
            .total {
                color: #56597b;
            }
        }
    }
}