@import './../../../../helpers/styles/colors.scss';

.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        display: flex;
        align-items: center;
    }
    h1 {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .gainTitle,
    .lossTitle {
        color: #56597b;
        font-size: 12px;
    }
    .mrrLoss,
    .mrrGain {
        margin-left: 12px;
        width: 81px;
        font-weight: 700;
    }
    .mrrLoss {
        color: $negativeMrr;
    }
    .mrrGain {
        color: $positiveMrr;
    }
}

.customer {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-size: 14px;
    .time {
        min-width: 74px;
        font-size: 10px;
        margin-right: 10px;
        color: #56597b;
    }
    .customerInner {
        background-color: $light-purple;
        border: 1px solid $lightest-purple;
        border-radius: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .customerName {
        width: 60%;
        text-transform: uppercase;
        font-weight: 300; 
    }
    .accountManager {
        width: 15%;
    }
    .period {
        width: 15%;
    }    
    .positiveMrr,
    .negativeMrr {
        color: $positiveMrr;
        width: 70px;
        margin-left: auto;
    }
    .negativeMrr {
        color: $negativeMrr;
    }
}