@import './../../../../helpers/styles/colors.scss';

.dashboard {
    color: #FFF;
    background-color: $dark-purple;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}